<!DOCTYPE html>
<html>
<link rel="icon" type="image/x-icon" href="contacticon.jpg">
<head>
    <meta charset="utf-8">

    <title>Contact Us</title>

    <!-- Load external CSS styles -->
    <link rel="stylesheet" href="../styles/contacts.css" href="index.html">

</head>

<body style="text-align:center;">
    <br>
    <br>
    <br>
    <br>



    <h1>CALL: +254722384628 / +254745074879</h1><br>
    <br>
    <h2>Email:montiecarmon2002@gmail.com</h2><br>
    <br>
    <h3>FOR MORE INQUIRIES VISIT OUR OFFICE IN SCHOOL, ALONG NAKURU WAY. YOU ARE WELCOME!</h3>
<br>

    <a href="index.html ">Homepage </a>
    <br><br><br>
    <a href="login.html ">Login </a>
    <br><br><br>
    <a href="register.html ">Register </a>
</body>
<footer class="glow2">
    <h4>WELCOME TO OUR E-LEARNING PLATFORM!</h4>
    <small> COPYRIGHT &copy; Montie Carmon<small>
</footer>

</html>
