<!doctype html>

<html>
<link rel="icon" type="image/x-icon" href="page.jpg">

<div class=" navbar ">
    <a href="../index.html ">Homepage</a>
    <a href="register.html ">Signup</a>
</div>


<head>
    <meta charset="utf-8">

    <title>Matumaini Login</title>

    <!-- Load external CSS styles -->
    <link rel="stylesheet" href="../styles/login.css">

</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class=" navbar ">

    <a href="adminlogin.html"><i class="fa fa-fw fa-envelope "></i> Admin</a><br><br>
    <br><br><br><br>
    <a href="teacherlogin.html"><i class="fa fa-fw fa-user "></i> Teacher</a><br><br>
    <br><br><br><br>
    <a href="student login.html"><i class="fa fa-fw fa-user "></i>Student</a><br><br>

</div>






</body>
<footer class="glow2">
    <h4>WELCOME TO OUR E-LEARNING PLATFORM!</h4>
    <small> COPYRIGHT &copy; Montie Carmon<small>
</footer>

</html>