body {
    width: 100vw;
    height: 100vh;
    background-color:#003366;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: large;
    color: white;
}


h2 {
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
}


a {
    justify-content: flex-start;
    align-items: center;
    padding: 16px 18px;
    background: black;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a:hover {
    color: black;
    background: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
  background: white;
  color: #003366;
  padding: 10px 0;
  margin-top: 175px;
  letter-spacing: 1px;
  margin-left: -30px;
}