body {
    width: 100vw;
    height: 100vh;
    background: url("../images/login.jpg");
    background-size: cover;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    text-color: yellow;
}

h3 {
    text-align: center;
    text-color: blue
}

a {
    justify-content: flex-start;
    align-items: center;
    padding: 14px 14px;
    background: white;
    text-decoration: none;
    color:#003366;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

a:hover {
    color: white;
    background: #003366;
}

p {
    text-align: center;
    text-color: #003366;
    font-size: larger;
}

.sidenav {
    right: 0;
}

div {
    font-size: larger;
}

footer {
  background: #003366;
  color: white;
  padding: 10px 0;
  margin-top: 130px;
  letter-spacing: 1px;
  margin-left: -30px;
}