body {
    width: 100vw;
    height: 100vh;
    background: url("../images/register.jpg");
    background-size: fill;
    text-align: center;
    border: none;
    overflow-y: hidden;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-style: var();
    font-size: xx-large;
}

h2 {
    text-align: center;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

a {
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    background: #003366;
    text-decoration: none;
    color: white;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

a:hover {
    color: #003366;
    background-color: white;
}

input {
    justify-content: flex-start;
    align-items: center;
    padding: 12px 20px;
    background: white;
    text-decoration: none;
    color: #003366;
    height: max-content;
    font-size: 20px;
}

input:hover {
    color: white;
    background-color: #003366;
}

footer {
  background: #003366;
  color: white;
  padding: 10px 0;
  margin-top: 150px;
  letter-spacing: 1px;
  margin-left: -30px;
}